/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0 10%;
    font-family: sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

/* utilities */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: 30px 0;
}

.floatleft{
    float: left;
}

.grey{
    color: #878787;
}

/* header */

li{
    display: inline-block;
    list-style: none;
}

.logo{
    width: ;
}

/* main */

#primo {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 650px;
    border-radius: 20px;
    filter: brightness(80%);
}

.title-article{
    font-size: 30px;
    color: #fff;
    padding: 350px 600px 10px 80px;
    filter: brightness(100);
}


.blu{
    background-color: #abcfe7;
}

#secondo{
    background-color: #0086ff;
    height: 670px;
}

#bar{
    height: 85px;
    margin-bottom: 0;
}

.sidebar{
    width: 15%;
    height: 540px;
}

.maincontent{
    width: calc(70% - 40px);
    height: 540px;
    margin-left: 20px;
    margin-right: 20px;
}

/* footer */
.foot{
    background-color: #8801fe;
    height: 60px;
    margin-top: 10px;
}