/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0 10%;
    font-family: sans-serif,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana;
}

/* utilities */
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

.container{
    margin: 30px 0;
}

.floatleft{
    float: left;
}

.grey{
    color: #878787;
}

.dark-border:not(article){
    filter: brightness(80%);
    border-radius: 20px;
}

/* header */

li{
    display: inline-block;
    list-style: none;
    padding-right: 1%;
}

.logo{
    width: 210px ;
}

nav{
    padding-top:3%;
    font-size: 22px;
}

/* main */

#primo {
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    height: 650px;
    margin-top: 50px;
}

.title-article{
    font-size: 30px;
    color: #fff;
    padding: 350px 10px 80px;
    filter: brightness(100);
}

#secondo{
    height: 850px;
    font-size: 22px;
}

h1{
    font-size: 50px;
}

#bar{
    height: 85px;
    margin-bottom: 0;
}

.sidebar{
    width: 20%;
    height: 300px;
}

.maincontent{
    width: calc(60% - 40px);
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
}

/* images */
#img1{
    background-image: url(../img/img-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:center;
}

#img2{
    background-image: url(../img/banner-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
}
#img3{
    background-image: url(../img/img-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:center;
}

.red{
    background-color: red;
}

/* footer */
.foot{
    margin-top: 10px;
    text-align: center;
}

.fa-heartbeat{
    color: red;
}